html {
  @apply font-dm-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}

/* @keyframes scale-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page-enter-active {
  animation: scale-fade ease-in-out 0.2s;
}

.page-leave-active {
  animation: scale-fade reverse ease-in-out 0.2s;
} */
