html {
  @apply font-dm-sans overflow-y-scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.page-enter-active {
  animation: fade-in ease 0.15s;
}

.page-leave-active {
  animation: fade-in reverse ease 0.15s;
}
